/* General Styles */
.home-container {
	background-color: #1a1a1a;
	color: #fff;
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.home {
	position: relative;
	top: 120px;
}

table {
	width: 100vh;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

thead {
	background-color: #4caf50;
	color: #fff;
}

th,
td {
	padding: 12px;
	text-align: left;
	padding-left: 20px;
}

tbody tr:nth-child(even) {
	background-color: #333;
}

.button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #45a049;
}
/* General Styles */
.home-container {
	background-color: #28282b;
	color: #fff;
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.home {
	position: relative;
	top: 120px;
}

table {
	width: 100vh;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

thead {
	background-color: #4caf50;
	color: #fff;
}

th,
td {
	padding: 12px;
	text-align: left;
	padding-left: 20px;
}

tbody tr:nth-child(even) {
	background-color: #333;
}

.button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-right: 10px;
}

.button:hover {
	background-color: #45a049;
}

.td-button {
	text-align: right;
	padding-right: 20px;
}

.fa-pencil {
	color: #45a049;
	margin-left: 15px;
	font-size: 18px;
}

td input[type='text'] {
	border-radius: 7px;
	box-shadow: 1px 1px 1px white;
}
