.signup-form {
    height: 200px;
    width: 200px;
    background-color: gainsboro;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 30px;
  }
  
  .signup-form .name {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-form .email {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-form .password {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-form .submit {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }